/* CSS for the Initiative Tracker. */

/* General CSS (Body, Header, Footer, etc)*/
:root{
    /* background color, a toolbar/footer color, 
    a card color, a border color, accent colors, notes color */
    --main-bg: #D7EEFE;
    --main-text: #080708;
    --alt-bg: #7BB0B7;
    --alt-text: #FFFFFF;
    --main-card: #7BB0B7;
    --alt-card: #1B1725;
    --note-bg: #E1F2FE;
    --main-highlight: #FFDC85;
    --alt-hightlight: #FFE8AD;
    --button-hightlight: #61A1A8;
    --btn-border: #080708;
    --active-card: #96C0C5;
    --font: Arial, Helvetica, sans-serif;
  }
  
  a:visited{
    color: var(--main-text);
  }
  a:hover{
    color: var(--alt-text);
  }
  
  body{
    margin: 0% 0% 0% .1%;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 30%);
    grid-template-rows: auto auto auto auto;
    width: 90%;
    font-family: var(--font);
  }
  
  header{
    background-color: var(--main-bg);
    grid-column: 1/4;
    grid-row: 1;
    text-align: center;
    font-size: 2em;
    height: 6.5vh;
  }
  
  footer{
    background-color: var(--alt-bg);
    grid-column: 1/4;
    grid-row: 5;
    height: 4vh;
    text-align: center;
    border-top: 1px solid var(--btn-border);
  }
  /* End of General CSS */
  
  /* Toolbar CSS */
  form{
    flex: .63;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .list-input-item{
    margin: 0% .25% 0% .25%;
  }
  
  input.list-input-item{
    font-size: .8em;
    background-color: var(--note-bg);
  }
  
  .tool-bar{
    background-color: var(--alt-bg);
    grid-column: 1/4;
    grid-row: 2;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5em;
    height: 9vh;
    border-top: 1px solid var(--btn-border);
    border-bottom: 1px solid var(--btn-border);
  }
  
  .toolbar-btn{
    border: 1px solid var(--btn-border);
    padding: .15% 1% .15% 1%;
  }
  
  .toolbar-btn:hover{
    background-color: var(--button-hightlight);
    cursor: pointer;
  }
  /* End of Toolbar CSS */
  
  /* Tracker CSS */
  ul {
    padding: 0;
    list-style-type: none;
  }
  
  .tracker-screen{
    background-color: var(--main-bg);
    grid-column: 1/3;
    grid-row: 3/5;
    height: 80vh;
    word-wrap: break-word;
    overflow-y: scroll;
    border-right: 1px solid var(--btn-border);
  }
  /* End of  Tracker CSS*/
  
  /* Card CSS */
  select {
    appearance: none;
    cursor: cell;
    background-color: var(--main-card);
    font-family: var(--font);
    font-size: 1em;
  }
  
  option{
    background-color: var(--main-card);
    font-family: var(--font);
  }
  
  .entry-container{
    width: 99%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 1.09em;
    border: 3px solid var(--alt-card);
    padding: 1% 0% 1% 0%;
    margin: 1% 0% 1% 0%;
    background-color: var(--main-card);
      
    }
    .conditions {
      width: 72%;
      display: grid;
      grid-template-columns: repeat(4, 25%);
      gap: .7%;
      text-align: left;
      
    }
    .conditions span {
      border: 1px solid var(--alt-card);
      cursor: cell;
      padding: 0% 2% 0% 2%;
    }
    .consitions select{
      background-color: none;
    }
  
    .entry-btns{
      width: 3%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .entry-btns-util{
      border: 1px solid var(--alt-card);
      text-align: center;
    }
  
    .entry-btns-util:hover{
      background-color: var(--button-hightlight);
      cursor: pointer;
    }
  
    div.entry-name{
      width: 8%;
      word-wrap: break-word;
      inline-size: 15%;
    }
  
    div.entry-roll{
      width: 4%;
      word-wrap: break-word;
    }
  
    .condition-option-active {
      background-color: var(--main-highlight);
    }
    
    .condition-option:hover {
      background-color: var(--alt-hightlight);
    }
    
    #active-card{
      background-color: var(--active-card);
  }
  /* End of Card CSS */
  
  /* Notes CSS */
  .notes-screen{
    padding: 0% 1% 0% 1%;
    background-color: var(--note-bg);
    grid-column: 3;
    grid-row: 3/5;
    height: 80vh;
    word-wrap: break-word;
    overflow-y: scroll;
  }
  /* End of Notes CSS */