/* 
Colors
^4B4E58
383A42
v 26272C

^EA7E5D
E4572E
v D9481C

^D9481C
457EAC
v 3A6A92

^FFFFFF
DCE1E9
v CDD4E0

^79B990
57A773
v 4D9366
*/

/* General */
h1{
    font-size: 2.2em;
}

p{
    font-size: 1.5em;
}

body{
    text-align: center;
    background-color: #383A42;
    color: #DCE1E9;
}

/* Player Cards */
 .person-card{
    border-top: #57A773 solid;
    border-right: #57A773 solid;
    border-left: #57A773 solid;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    font-size: 1.1em;
    /* cursor: move; */
}

.person-card:last-child {
    border-bottom: #57A773 solid;
}

#init-list li{
    list-style: none;
}
#init-list .roll{
    flex: .5;
}
#init-list .name{
    flex: 2;
}

.conditions1{
    text-align: left;
    flex: 1.5;
}
.conditions2{
    text-align: left;
    flex: 1.5;
}

select{
    flex: 1;
}

.util-btns{
    flex: 1;
    display: flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content: space-evenly;
    margin-left: 1%;
}

.util-btns button{
    flex: 1;
    margin-bottom: 5%;
}

#active-card{
    background-color: #4B4E58;
}

/* Control Bar */
#control-bar{
    background-color: #26272C;
    border: #57A773 solid;
    position: sticky;
    display: flex;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: space-between;
}

button{
    /* font-size: .6em; */
    width: 80%;
}

#list-input{
    flex: 3;
}

#sort {
    flex: 1;
}

#clear{
    flex: 1;
}

#counter-div{
    flex: 1;
}

@media screen and (min-width: 1331px){
    #list-input-name{
        font-size: 2em;
        width: 40%;
    }
    #list-input-number{
        font-size: 2em;
        width: 30%;
    }
    #list-input-btn{
        font-size: 2em;
        width: 20%;
    }
    #sort button{
        font-size: 2em;
        width: 90%;
    }
    #clear button{
        font-size: 2em;
        width: 90%;
    }
    #counter-div button{
        font-size: 2em;
        width: 90%;
    }
    #counter{
        font-size: 2em;
        flex: .5;
    }
}

@media screen and (max-width: 1330px){
    #list-input-name{
        font-size: 1.3em;
        width: 40%;
    }
    #list-input-number{
        font-size: 1.3em;
        width: 20%;
    }
    #list-input-btn{
        font-size: 1.3em;
        width: 20%;
    }
    #sort button{
        font-size: 1.3em;
        width: 90%;
    }
    #clear button{
        font-size: 1.3em;
        width: 90%;
    }
    #counter-div button{
        font-size: 1.3em;
        width: 90%;
    }
    #counter{
        font-size: 2em;
        flex: .5;
    }
}