/* Bryce Mecham May 2021 */
/* 
#433A3F
vlighter color: #496D83
#3D5A6C
^darker color: #334C5B
#72A98F
#FC7753
#FFEDDF   
*/
body{
    background-color: #433A3F;
    color: #FFEDDF;
    margin: 0;
    padding: 0;
}
header{
    font-size: 2em;
    text-align: center;
}

nav {
    background-color: #3D5A6C;
    border: .1em solid black;
    display: flex;
    flex-flow: row wrap;
    font-size: 1.7em;
    justify-content: space-between;
    margin: auto;
    padding: 1% 2%;
    width: 60%;
}
  
.nav-itms{
    border-style: dashed;
    flex-grow: .5;
    padding: 1%;
    margin: 1%;
    text-align: center;
    color: #FFEDDF;
    text-decoration: none;
}

.nav-itms:hover {
    border-style: solid;
}
  
#active-page {
    border-style: solid;
}

main{
    font-size: 1.13em;
    max-width: 80;
    align-content: center;
}

#projects-intro{
    text-align: center;
}